* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(242, 242, 242)
}

#content {
    height: 100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 1 25%;
    background-color: rgb(167, 191, 115);
}

.headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar {
    display: flex;
    gap: 15px;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.link {
    list-style: none;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}

.pageContainer {
    display: flex;
    flex: 1 1 70%;
    margin: 50px
}


.pageContent {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 200px;
   
}

.contentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    gap: 15px;;
}

.contentRightTop {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(167, 191, 115);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subtitle {
    font-style: italic;
    font-size: 18px;
    color: rgb(140, 125, 112);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.descriptionPara {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(111, 99, 89);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}



.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}


.map {
    display: block;
    width: 100%;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(140, 125, 112);
    flex: 1 1 7%;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.footbar {
   display: flex;
   gap: 20px;
   color: #f2f2f2;
   text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
}

.footLink {
    cursor: pointer;
}

.active {
    color: #ffffff;
}

.sig {
    font-family: monospace;
    font-style: italic;
    font-size: 10px;
    align-self: flex-end;
    color: #f2f2f2;
}

